<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LITRevu{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'litrevu/css/litrevu.css' %}">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    {% block header %}
    <header class="header-container">
        <p class="username">Bienvenue {{ user.username }}</p>
        <h1>LITRevu</h1>
        <nav class="main-nav">
            <ul>
                <li><a href="{% url 'feed' %}">Flux</a></li>
                <li><a href="{% url 'my_posts' %}">Mes publications</a></li>
                <li><a href="{% url 'subscription' %}">Abonnements</a></li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn">Se déconnecter</button>
                </form>
            </ul>
        </nav>
    </header>
    {% endblock %}

    <main>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
        <!-- Contenu spécifique aux pages -->
        {% endblock %}
    </main>

    <footer>
        <!-- Pied de page -->
    </footer>
</body>
</html>
