<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LITRevu{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>LITRevu</h1>
        <p>{{ user.username }}</p>
        <nav>
            <ul>
                <li><a href="{% url 'feed' %}">Flux</a></li>
                <li><a href="{% url 'my_posts' %}">Mes publications</a></li>
                <li><a href="{% url 'subscription' %}">Abonnements</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn">Se déconnecter</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
        <!-- Contenu spécifique aux pages -->
        {% endblock %}
    </main>

    <footer>
    </footer>
</body>
</html>
