{% extends "base.html" %}

{% block title %}Supprimer{% endblock %}

{% block header %}
{% endblock %}

{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'content/css/delete.css' %}">
{% endblock %}

{% block content %}
<h1>Confirmer la suppression</h1>
<p>
    Voulez-vous vraiment supprimer 
    {% if item_type == 'post' %} ce billet {% elif item_type == 'review' %} cette critique {% endif %} ?
</p>
<p><strong>Attention :</strong> Cette action est irréversible.</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirmer</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Annuler</button>
    <!-- onclick="window.history.back() sert a revenir à la page précédente-->
</form>
{% endblock %}
