{% extends 'base.html' %}
{% block title %}Ajouter une critique{% endblock %}

{% block content %}
<h1>Ajouter une critique</h1>

<h2>Vous êtes en train de poster en réponse à</h2>
<p>{{ post.author.username }} a demandé une critique</p>
<p>{{ post.created_at|date:"H:i, d F Y" }}</p>
<p>{{ post.title }}</p>
<p>{{ post.content }}</p>
{% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}">
{% endif %}

<h2>Critique</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ review.rating }}
    <button type="submit">Envoyer</button>
</form>

<a href="{% url 'feed' %}">Annuler</a>
{% endblock %}